.content-title{
    font-size:25px; 
    text-align:center;
    font-family:raleway,sans-serif;
}
.online-content{
    width:99vw;
    height:100vh
}
.online-second-part{
    /* background-color: rgb(89, 89, 199); */
    background-image: linear-gradient(to right,rgb(238, 31, 221),rgb(89, 89, 199));
}
.online-second-part-item1{
    background-color: #3c21d8;
    width: 25vw;
    height: 50vh;
    opacity: 0.7;
    position: absolute;
}
.online-second-part-item2{
    margin-top: 20vh;
    background-color: transparent;
    width: 35vw;
    height: 40vh;
    position: relative;
}
.content-button{
    width:135px;
    height:34px;
    text-align: initial;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    justify-content: var(--label-align);
    --rd: 8px;
    background-color:#ff33cc
}
.bg-color{
    background-color: rgba(98, 1, 255, 0.7);
}
.online-container {
    position: relative;
    text-align: center;
    color: white;
    background-color: rgba(98, 1, 255, 0.7);
    
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    line-height: normal;
}
.image-container{
    position: relative;
}
.bottom {
    position: absolute;
    bottom: 8px;
}